.search-box {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  display: block !important;
  padding: 10px;
}

.food-row {
  width: 100%;
}

.add-button {
  font-size: 30px;
  position: fixed !important;
  bottom: 100px;
  right: 25px;
  display: block;
}


.add-recipe {
  font-size: 30px;
  position: fixed !important;
  bottom: 25px;
  right: 25px;
  display: block;
}
